<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>NSAppleMusicUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access Apple Music</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Allow access your calendar so $(PRODUCT_NAME) can save upcoming events</string>
    <key>NSCameraUsageDescription</key>
    <string>This allows you to take photos and share them with the community in $(PRODUCT_NAME)</string>
    <key>NSContactsUsageDescription</key>
    <string>Invite others to join $(PRODUCT_NAME) with you</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>$(PRODUCT_NAME) will use your location to recommend the best communities</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your mic so friends can hear you speak in video calls</string>
    <key>NSMotionUsageDescription</key>
    <string>$(PRODUCT_NAME) will use motion tracking to alert you when friends are around</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>$(PRODUCT_NAME) will save photos to your library so you can share them later</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) access to your photos so you can share them in chats and feeds</string>
    <key>NSRemindersUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your reminders so you won't forget an event</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to create events in your calendar</string>
	<key>UIAppFonts</key>
	<array>
		<string>Avenir-Black.ttf</string>
		<string>Avenir-BlackOblique.ttf</string>
		<string>Avenir-Book.ttf</string>
		<string>Avenir-BookOblique.ttf</string>
		<string>Avenir-Heavy.ttf</string>
		<string>Avenir-HeavyOblique.ttf</string>
		<string>Avenir-Light.ttf</string>
		<string>Avenir-LightOblique.ttf</string>
		<string>Avenir-Medium.ttf</string>
		<string>Avenir-MediumOblique.ttf</string>
		<string>Avenir-Oblique.ttf</string>
		<string>Avenir-Roman.ttf</string>
		<string>CircularXXTT-Bold.ttf</string>
		<string>CircularXXTT-BoldItalic.ttf</string>
		<string>CircularXXTT-Book.ttf</string>
		<string>CircularXXTT-BookItalic.ttf</string>
		<string>CircularXXTT-Italic.ttf</string>
		<string>CircularXXTT-Medium.ttf</string>
		<string>CircularXXTT-MediumItalic.ttf</string>
		<string>CircularXXTT-Regular.ttf</string>
		<string>HickoryJack.ttf</string>
		<string>SigmarOne-Regular.ttf</string>
		<string>Stolzl-Bold.ttf</string>
		<string>Stolzl-Book.ttf</string>
		<string>Stolzl-Light.ttf</string>
		<string>Stolzl-Medium.ttf</string>
		<string>Stolzl-Regular.ttf</string>
		<string>Stolzl-Thin.ttf</string>
	</array>
</dict>
</plist>
