<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336966012094-qu3kl4nttqpkmsu4mmiajh7uv032kubi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336966012094-qu3kl4nttqpkmsu4mmiajh7uv032kubi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>336966012094-2d73qmmcg8urpd0vadjkhrvnkvmpnm8a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB77o96gaEXbWfp2SvKoQzdRf1QJktByT4</string>
	<key>GCM_SENDER_ID</key>
	<string>336966012094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibelyinc.vibely</string>
	<key>PROJECT_ID</key>
	<string>api-7984138074094617113-691361</string>
	<key>STORAGE_BUCKET</key>
	<string>api-7984138074094617113-691361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336966012094:ios:fb0a6c52b25dab207262ef</string>
	<key>DATABASE_URL</key>
	<string>https://api-7984138074094617113-691361.firebaseio.com</string>
</dict>
</plist>